.login{
    padding: 20% 20% 25% 25%;
    background-image: url(https://res.cloudinary.com/dvl6x8v3o/image/upload/v1681284885/sea-edge-79ab30e2_fmtvwl.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    background-color: transparent;
}